li {
  list-style: none;
}

.movie-card {
  color: white;
  background-color: #3f51b5;
  padding: 1rem 1rem 1rem 1rem;
  border: 1px solid #bdbdbd;
  border-radius: 1rem;
  margin-top: 1rem;
  box-shadow: 0 0.1rem 0.1rem 0.1rem lightgray;
}

.movie-card img {
  width: 100%;
  border-radius: 1rem;
}

.movie-card h2 {
  margin: auto 0;
}

@media only screen and (max-width: 473px) {
  .movie-card {
    width: 90%;
    margin-top: 1rem;
  }
}
