.header {
  background-color: #303f9f;
  min-height: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(0.5rem + 2vmin);
  color: white;
}

.header h1 {
  margin: 1rem 2rem;
}
.header-link-group {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
}
.header-link {
  color: white;
  font-weight: bold;
  margin: 0 2rem 0rem 0rem;
  text-decoration: none;
}

.header-link-selected {
  text-decoration: underline;
}
